* {  margin: 0;  padding: 0;  box-sizing: border-box;}
header {
    display: flex; /* Activa Flexbox */
    justify-content: space-between; /* Distribuye los divs con el máximo espacio posible entre ellos */
    align-items: center; /* Alinea verticalmente en el centro */
    padding: 20px;
    background-color: #f9f6f6;
}
header div {
    padding: 10px 1px;
    font-size: 12px;
}
